{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info')  %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %} 
    
    <div class="container body-content container-enrollings">
        <div class="row">
            <div class="col-md-12 col-title">
                <div class="col-md-2">    
                    <h4># Дата на зап.</h4>
                </div>
                <div class="col-md-2">
                    <h4>Клиент</h4>
                </div>
                <div class="col-md-2">    
                    <h4>ЕГН</h4>
                </div>
                <div class="col-md-1">
                    <h4>Снимка</h4>
                </div>
                <div class="col-md-3">    
                    <h4>Курс</h4>
                </div> 
                <div class="col-md-2">    
                    <h4>Фактура</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {% for enrolling in enrollings %}
                <div class="col-md-12 col-enrollings">
                    <div class="col-md-2">         
                        <h4>{{ enrolling.id }} {{ enrolling.dateAdded|date("d.m.Y") }}</h4>
                    </div>
                    <div class="col-md-2">
                        <h4>{{ enrolling.student.firstName }} {{ enrolling.student.lastName }}</h4>
                    </div>
                    <div class="col-md-2">    
                       <h4>{{ enrolling.student.PersonalNumber}}</h4>
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path('student_view', { id: enrolling.student.id } ) }}">
                            <img src ="{{ asset('uploads/images/students/' ~ enrolling.student.image) }}" class="img-thumbnail img-enrollings">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('course_view', { id: enrolling.course.id } ) }}">       
                            <h4>{{ enrolling.course.title}}</h4>
                        </a>
                    </div>
                    <div class="col-md-2">
                       <a class="btn btn-danger" href="{{ path('download_invoice', {id: enrolling.id}) }}">ИЗТЕГЛИ</a> 
                       <p><a href="{{ path('view_invoice', {id: enrolling.id}) }}" target=_blank>Прегледай</a></p>
                       <a class="btn btn-danger btn-delete" href="{{ path('delete_invoice', {id: enrolling.id}) }}">Изтрий</a> 
                    </div>  
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container text-center">
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(enrollings) }}
        </div>
    </div>
   
{% endblock %}
