{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('enrolling_create') }}" method="post">
                <fieldset>
                    <legend>Enrolling</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="enrolling_student">Student</label>
                        <div class="col-sm-4 form-widget">
                            {{ form_widget(form.student) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="enrolling_course">Course</label>
                        <div class="col-sm-4 form-widget">
                            {{ form_widget(form.course) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('all_enrollings') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
    
{% endblock %}