{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {% for msg in app.session.flashbag.get('errors')  %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend>Регистрация</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Имейл</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_email" placeholder="Имейл" name="user[email]" value="{{ (form.email.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Парола</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Парола" name="user[password][first]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.password.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Повтори паролата</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Повтори паролата" name="user[password][second]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_firstName">Име</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_firstName" placeholder="Име" name="user[firstName]" value="{{ (form.firstName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fathersName">Презиме</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_fathersName" placeholder="Бащино име" name="user[fathersName]" value="{{ (form.fathersName.vars.value )}}" >
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.fathersName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_lasttName">Фамилия</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_lastName" placeholder="Фамилно име" name="user[lastName]" value="{{ (form.lastName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">Регистриране</button>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
