{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info')  %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}
    
    <div class="container body-content">
        <a class="btn btn-primary" href="{{ path('course_create') }}">Създай нов курс</a>
        <div class="row">
            {% for course in courses %}
            <div class="col-md-6">
                <div class="home-col">
                    <a class="course-title" href="{{ path('course_view', { id: course.id } ) }}">{{ course.title }}</a>
                    <p>{{ course.description }}</p>
                    <a class="btn btn-primary btn-xs" href="{{ path('course_view', {id: course.id}) }}">Детайли &raquo;</a> 
                </div>    
            </div>
           {% endfor %}
        </div>
    </div>
    
    <div class="container text-center">
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(courses) }}
        </div>  
    </div>     
 
{% endblock %}
