<!DOCTYPE html>
<html lang="bg">
<head>
    <meta http-equiv="charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Junior Hackathon Task - Invoice</title>
    <style>
         html {
            margin: 0;
            padding: 0;
        }
        body {
            padding: 50px 20px;
            font-size: 12px;
            font-family: Dejavu Sans;
        }
        table {
            margin-top: 20px;
            width: 100%;
            border-spacing: 0;
        }
        p {
            margin-top: 3px;
            margin-bottom: 3px;
        }
        span {
            font-weight: bold;
        }
        .title h1 {
            margin: 0;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        .num-and-data {
            text-align: right; 
        } 
        .table-users {
            margin-top: 10px;
            border-spacing: 3px;
        }
        .table-users td {
            width: 50%;
            padding: 5px;
            border: 1px solid #333333; 
            border-radius: 5px; 
        } 
        .table-invoice th {
            text-align: center;
            background: darkgrey;
        }
        .table-invoice th, .table-invoice td {
            border: 1px solid black;
        }
        .price-text {
            margin-left: 30px;
        }
        .table-tax {
            margin-bottom: 20px;
            font-weight: bold;
        }
        .table-tax td {
            text-align: right;
        }
        .table-bank td {
            border: 1px dotted grey;
            padding: 3px;
        }
        .table-users-name {
            font-style: italic;
        }
        .table-users-name span {
            font-weight: normal;
            text-transform: uppercase;
        }
        .law {
            margin-top: 40px;
            font-size: 10px;
        }
        .invoice-info {
            margin-top: 200px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="title">
            <h1>Фактура Оригинал</h1>
        </div>
        <div class="num-and-data">
            <p>Номер: <span>000000{{enrolling.id}}</span></p>
            <p>Дата: <span>{{ enrolling.dateAdded|date("d.m.Y") }}</span></p>   
        </div>
        <table class="table-users">
           <tr>
               <td>
                   <p>Получател {{ enrolling.student.firstName }} {{ enrolling.student.fathersName }} {{ enrolling.student.lastName }}</p>
                   <p>ДДС №</p>
                   <p>Идент. №</p>
                   <p>Град Варна</p>
                   <p>Адрес </p> 
                   <p>МОЛ {{ enrolling.student.firstName }} {{ enrolling.student.fathersName }} {{ enrolling.student.lastName }}</p>
                   <p>Телефон</p>  
               </td>
               <td>
                   <p>Доставчик Драйвинг 2021 ООД</p>
                   <p>ДДС №</p>
                   <p>Идент. № 01010101</p>
                   <p>Град Варна</p>
                   <p>Адрес ул.Никола Вапцаров</p> 
                   <p>МОЛ Стефан Кирилов Стефанов</p>
                   <p>Телефон</p>
               </td>
           </tr>
        </table>
        <table class="table-invoice">
           <tr>
               <th style="width: 5%;">№</th>
               <th style="width: 10%;">Код</th>
               <th style="width: 45%;">Наименование на стоката / услугата</th>
               <th style="width: 10%;">Мярка</th>
               <th style="width: 10%;">Колич.</th>
               <th style="width: 10%;">Цена</th>
               <th style="width: 10%;">Сума</th>
           </tr>
           <tr>
               <td style="width: 5%; text-align: center;">1</td>
               <td style="width: 10%;"></td>
               <td style="width: 45%;">{{ enrolling.course.title}}</td>
               <td style="width: 10%; text-align: center;">бр.</td>
               <td style="width: 10%; text-align: right;">1.00</td>
               <td style="width: 10%; text-align: right;">{{ enrolling.course.price }}</td>
               <td style="width: 10%; text-align: right;">{{ enrolling.course.price }}</td>
           </tr>
        </table>   
        <table class="table-tax">
            <tr>
                <td style="width: 55%;">
                </td>
                <td style="width: 30%;">
                    <p>Данъчна основа:</p>
                    <p>ДДС 0%:</p>
                    <p>Сума за плащане:</p>
                </td>
                <td style="width: 15%;">
                    <p>{{ enrolling.course.price}}</p>
                    <p>0.00</p>
                    <p>{{ enrolling.course.price}}</p>
                </td>
            </tr>
        </table>
        <div class="price-text">
            <p><span>Словом:</span> {{ enrolling.course.priceText}}</p>
        </div>
        <table class="table-bank">
           <tr>
               <td style="width: 60%;">
                   <p>Дата на данъчното събитие: {{ enrolling.dateAdded|date("d.m.Y") }}</p>
                   <p>Основание за неначисл. на ДДС:</p>
                   <p>Описание на сделката:</p>
                   <p>Място на сделката: Варна</p>  
               </td>
               <td style="width: 40%;">
                   <p>Плащане: В брой</p>
                   <p>IBAN:</p> 
                   <p>Банка:</p>
                   <p>Банков код:</p>
               </td>
           </tr>
        </table>
        <table class="table-users-name">
            <tr>
                <td style="width: 50% padding: 5px; text-aligh: left;">
                    <p>Получил: {{ enrolling.student.firstName }} {{ enrolling.student.fathersName }} {{ enrolling.student.lastName }}</p>
                </td>
                <td style="width: 40%; text-align: right;">
                    <p>Съставил: <span>{{ app.user.firstName }} {{ app.user.fathersName }} {{ app.user.lastName }}</span></p>
                </td>
            </tr>
        </table>
        <div class="law">
            <p>Съгласно чл. 6, ал. 1 от Закона за Счетоводството, чл. 114 от ЗДДС и чл. 78 от ППЗДДС печатът и подписът не са задължителни реквизити във фактурата.</p>
        </div>
        <div class="invoice-info">
            <hr />
            <p>Драйвинг 2022 ООД, гр.Варна</p>
        </div> 
    </div>

</body>
</html>
