{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {% for msg in app.session.flashbag.get('errors')  %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <form class="form-horizontal" action="{{ path('course_create') }}" method="POST">
                <fieldset>
                <legend>Създаване на нов курс</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_title">Заглавие</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="course_title" placeholder="Заглавие" name="course[title]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.title) }}
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label class="col-sm-4 control-label" for="course_description">Описание</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" rows="6" id="course_description" placeholder="Описание" name="course[description]"></textarea>
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_startDate">Начална дата</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="course_startDate" placeholder="ДД.ММ.ГГГГ" name="course[startDate]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.startDate) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_finishDate">Крайна дата</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="course_finishDate" placeholder="ДД.ММ.ГГГГ" name="course[finishDate]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.finishDate) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_price">Цена в левове</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="course_price" placeholder="000.00" name="course[price]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="course_priceText">Цената словом</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="course_priceText" placeholder="Цената словом" name="course[priceText]">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.priceText) }}
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('invoices_index') }}">Отмени</a>
                            <button type="submit" class="btn btn-primary">Създай</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
           
{% endblock %}
