{% extends 'base.html.twig' %}

{% block main %}  

    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                <article>
                    <h2>[{{ course.id }}] {{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <p>Начална дата: {{ course.startDate|date("d.m.Y") }}</p>
                    <p>Крайна дата: {{ course.finishDate|date("d.m.Y") }}</p> 
                    <p>Цена: {{ course.price }}лв.</p>
                    <div>
                        <a class="btn btn-success" href="{{ path('course_edit', {id: course.id}) }}">Редактирай</a>
                        {% for enrolling in enrollings %}
                            {% if ((enrollings is not empty) and ({id: course.id} == {id: enrolling.course.id})) %}
                                <a href="{{ path('course_delete', {id: course.id}) }}"><button type=button" class="btn btn-danger" disabled>Изтрий</button></a>     
                            {% endif %}
                        {% endfor %}
                        {% for enrolling in enrollings %}
                            {% if ((enrollings is not empty) and ({id: course.id} != {id: enrolling.course.id})) %}
                                <a href="{{ path('course_delete', {id: course.id}) }}"><button type=button" class="btn btn-danger">Изтрий</button></a>     
                            {% endif %}
                        {% endfor %}
                        {% if (enrollings is empty) %}
                            <a href="{{ path('course_delete', {id: course.id}) }}"><button type=button" class="btn btn-danger">Изтрий</button></a>
                        {% endif %}
                        <a class="btn btn-default" href="{{ path('invoices_index') }}">Към всички курсове</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">  
                <h2>Спъсък на записаните клиенти</h2>
            </div>
        </div>  
        <div class="row courses">
            <div class="col-md-10">
                <div class="col-md-1 text-center">
                    <p>#</p>
                </div>
                <div class="col-md-2">
                    <p>Дата</p>
                </div>
                <div class="col-md-7">
                    <p>Клиент</p>
                </div>
            </div>
        </div>
        <div class="row courses">
            {% for enrolling in enrollings %}
                <div class="col-md-10"> 
                    <div class="col-md-1 text-center">
                        <p>{{ enrolling.id }}</p>
                    </diV>
                    <div class="col-md-2">
                        <p>{{ enrolling.dateAdded|date("d.m.Y") }} </p>
                    </diV>
                    <div class="col-md-7">
                        <p>
                            <a href="{{ path('student_view', { id: enrolling.student.id } ) }}">       
                                {{ enrolling.student.firstName }} {{ enrolling.student.fathersName }} {{ enrolling.student.lastName }} 
                            </a>
                        </p> 
                    </div>   
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
