{% extends 'base.html.twig' %}

{% block main %}  

    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                <article>
                    <h2><span>{{ course.id }}</span> {{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <p>Начална дата: {{ course.startDate|date("d.m.Y") }}</p>
                    <p>Крайна дата: {{ course.finishDate|date("d.m.Y") }}</p> 
                    <p>Цена: {{ course.price }}лв.</p>
                    <div>
                        <a class="btn btn-success" href="{{ path('course_edit', {id: course.id}) }}">Редактирай</a>
                        <a class="btn btn-danger" href="{{ path('course_delete', {id: course.id}) }}">Изтрий</a>
                        <a class="btn btn-default" href="{{ path('invoices_index') }}">Към всички курсове</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">  
                <h1>Спъсък на записаните клиенти</h1>
            </div>
        </div>  
        <div class="row students">
            <div class="col-md-10">
                <div class="col-md-1 text-center">
                    <p>#</p>
                </div>
                <div class="col-md-2">
                    <p>Дата</p>
                </div>
                <div class="col-md-7">
                    <p>Клиент</p>
                </div>
            </div>
        </div>
        <div class="row students">
            {% for enrolling in enrollings %}
                <div class="col-md-10"> 
                    <div class="col-md-1 text-center">
                        <p>{{ enrolling.id }}</p>
                    </diV>
                    <div class="col-md-2">
                        <p>{{ enrolling.dateAdded|date("d.m.Y") }} </p>
                    </diV>
                    <div class="col-md-7">
                        <p>
                            <a href="{{ path('student_view', { id: enrolling.student.id } ) }}">       
                                {{ enrolling.student.firstName }} {{ enrolling.student.fathersName }} {{ enrolling.student.lastName }} 
                            </a>
                        </p> 
                    </div>   
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
