{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info')  %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container container-custom">
        <div class="row">
                <h2 class="h2-custom">STUDENTS IN THE SYSTEM<a href="{{ path('student_create') }}" class="btn btn-primary btn-primary-custom">CREATE NEW</a></h2>
                {% for student in pagination %}
                    <div class="col-md-12 col-12-custom text-center">
                        <div class="col-md-3">
                            <img src ="{{ asset('uploads/images/students/' ~ student.image) }}" alt="image" class="img-thumbnail">
                        </div>
                        <div class="col-md-9 text-left">
                            <h3>{{ student.firstName }} {{ student.fathersName }} {{ student.lastName }}</h3>
                            <h4>Personal Number: {{ student.personalNumber }}</h4>
                            <p>
                                <a class="btn btn-primary" href="{{ path('student_view', {id: student.id}) }}" style="margin-top: 10px; margin-right: 20px; margin-bottom: 10px;">View Courses</a>
                                <a class="btn btn-success" href="{{ path('student_edit', {id: student.id}) }}" style="margin-top: 10px; margin-right: 20px; margin-bottom: 10px;">Edit Student</a>
                                <a class="btn btn-danger" href="{{ path('student_delete', {id: student.id}) }}" style="margin-top: 10px; margin-right: 20px; margin-bottom: 10px;">Delete Student</a>
                            </p>
                        </div>
                  </div>
              {% endfor %}
        </div>
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}