{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashbag.get('info')  %}
        <div class="alert alert-success" id="info">
            {{ msg }}
        </div>
    {% endfor %}
   
    <div class="container container-custom">
        <div class="row custom-row">
            <div class="col-md-8">
                <h2 class="h2-custom">КЛИЕНТИ В СИСТЕМАТА<a href="{{ path('student_create') }}" class="btn btn-primary btn-primary-custom">Създай нов</a></h2>
            </div>
            <div class="col-md-4 text-right">
                <form method="POST">
                    <input type="text" name="personalNumber" placeholder="Търсене по ЕГН">
                    <button type="submit" class="btn btn-primary">Търси</button>
                </form>
            </div>
        </div>
        <div class="row">    
            {% for student in students %}
                <div class="col-md-12 col-12-custom text-center">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="col-md-4">
                            <img src ="{{ asset('uploads/images/students/' ~ student.image) }}" alt="image" class="img-thumbnail img-students">
                        </div>
                        <div class="col-md-8 text-left">
                            <h3>{{ student.firstName }} {{ student.fathersName }} {{ student.lastName }}</h3>
                            <h4>ЕГН: {{ student.personalNumber }}</h4>
                            <p class="students-btn">
                                <a class="btn btn-primary" href="{{ path('student_view', {id: student.id}) }}">Запиши в курс / Детайли &raquo;</a> 
                            </p>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>
    
    <div class="container text-center">
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(students) }}
        </div>
    </div>
    
{% endblock %}
    