{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {% for msg in app.session.flashbag.get('errors')  %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('student_create') }}" method="POST">
                <fieldset>
                    <legend>Нов клиент</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="student_personalNumber">ЕГН</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="student_personalNumber" placeholder="ЕГН" name="student[personalNumber]" value="{{ (form.personalNumber.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.personalNumber) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="student_firstName">Име</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="student_firstName" placeholder="Име" name="student[firstName]" value="{{ (form.firstName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="student_fathersName">Бащино име</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="student_fathersName" placeholder="Бащино име" name="student[fathersName]" value="{{ (form.fathersName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.fathersName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="student_lastName">Фамилно име</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="student_LastName" placeholder="Фамилно име" name="student[lastName]" value="{{ (form.lastName.vars.value )}}">
                        </div>
                        <div class="form-errors">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="student_image">Снимка</label>
                        <div class="col-sm-4">
                            <input accept=".jpeg, .jpg" type="file" class="form-control" id="student_image" placeholder="Качи снимка" name="student[image]">
                        </div>
                         <div class="form-errors">
                            {{ form_errors(form.image) }}
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('all_students') }}">Отмени</a>
                            <button type="submit" class="btn btn-primary">Запиши</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
