{% extends 'base.html.twig' %}

{% block main %}  

    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <img src ="{{ asset('uploads/images/students/' ~ student.image) }}" class="img-thumbnail">
            </div>
            <div class="col-md-8">   
                <h3>{{ student.firstName }} {{ student.fathersName }} {{ student.lastName }} <span class="student-id">[{{ student.id }}]</span></h3>
                <p class="personal-num">ЕГН: {{ student.personalNumber }}</p>
                <hr />
                {% for enrolling in enrollings %}
                    <p>{{ enrolling.id }} {{ enrolling.dateAdded|date("Y-m-d") }}
                        <a href="{{ path('course_view', { id: enrolling.course.id } ) }}"> {{ enrolling.course.title }} </a>
                    </p>         
                    <hr />
                {% endfor %}
                <a class="btn btn-default" href="{{ path('all_students') }}">Към всички студенти</a>      
            </div>
        </div>  
    </div>
   
{% endblock %}
