{% extends 'base.html.twig' %}

{% block main %}
   
    <div class="container body-content span=8 offset=2 text-center">
        {% for msg in app.session.flashbag.get('info')  %}
            <div class="alert alert-success" id="info">
                {{ msg }}
            </div>
        {% endfor %} 
    </div> 
     
    <div class="container body-content span=8 offset=2 text-center">
        <div class="well"> 
            {% if (courses is not empty) %}
                <h4><button type="button" class="btn btn-success" id="Add">Записване на клиента в курс</button></h4>
                <div id="enrolling"></div>
             {% else %}
                <p class="error-empty"><a href="{{ path('course_create') }}">Въведете курсове,</a> за да имате достъп до бутона!</p>   
                <h4><button type="button" class="btn btn-success" id="Add" disabled>Записване на клиента в курс</button></h4>
                <div id="enrolling"></div>
             {% endif %}  
        </div>
    </div>
                
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <img src ="{{ asset('uploads/images/students/' ~ student.image) }}" class="img-thumbnail">
            </div>
            <div class="col-md-8">   
                <h3>{{ student.firstName }} {{ student.fathersName }} {{ student.lastName }} <span class="student-id">[{{ student.id }}]</span></h3>
                <p class="personal-num">ЕГН: {{ student.personalNumber }}</p>
                <a class="btn btn-success" href="{{ path('student_edit', {id: student.id}) }}">Редактирай</a>
                {% if enrollings|length > 0 %}
                    <a href="{{ path('student_delete', {id: student.id}) }}"><button type="button" class="btn btn-danger" disabled>Изтрий</button></a>
                {% else %}
                    <a href="{{ path('student_delete', {id: student.id}) }}"><button type="button" class="btn btn-danger">Изтрий</button></a>
                {% endif %}
                <a class="btn btn-default" href="{{ path('all_students') }}">Към всички студенти</a>   
                <hr />
                {% if enrollings|length == 0 %} 
                    <p>Няма записани курсове</p>
                {% endif %} 
                {% for enrolling in enrollings %}
                    <p>{{ enrolling.id }} {{ enrolling.dateAdded|date("d.m.Y") }}
                        <a href="{{ path('course_view', { id: enrolling.course.id } ) }}"> {{ enrolling.course.title }} </a>
                    </p>         
                    <hr />
                {% endfor %}  
            </div>
        </div>  
    </div>
    
    
    <script>
        $('#Add').click(function () {
            $('#enrolling').empty();
            let enrollingForm =
                `
                <form method="post" action="{{ path('enrolling_create', { id: student.id}) }}">
                    <fieldset>
                    <div class="form-group">
                        <div class="col-md-12 form-widget">
                            {{ form_widget(form.course) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <h4><button type="submit" class="btn btn-primary">Запиши</button></h4>
                        </div>
                    </div>
                    {{  form_row(form._token) }}
                </fieldset>
                </form>
                `;
                
            $('#enrolling').append(enrollingForm);
            $('#enrolling').toggle();
        })
    </script>

    
    
   
{% endblock %}
