{% extends 'base.html.twig' %}

{% block main %}  

    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <img src ="{{ asset('uploads/images/students/' ~ student.image) }}" class="img-thumbnail">
            </div>
            <div class="col-md-8">   
                <h3>{{ student.firstName }} {{ student.fathersName }} {{ student.lastName }} <span class="student-id">[{{ student.id }}]</span></h3>
                <p class="personal-num">ЕГН: {{ student.personalNumber }}</p>
                <a class="btn btn-success" href="{{ path('student_edit', {id: student.id}) }}">Редактирай</a>
                {% for enrolling in enrollings %}
                    {% if ((enrollings is not empty) and ({id: student.id} == {id: enrolling.student.id})) %}
                        <a href="{{ path('student_delete', {id: student.id}) }}"><button type=button" class="btn btn-danger" disabled>Изтрий</button></a>     
                    {% endif %}
                {% endfor %}
                {% for enrolling in enrollings %}
                    {% if ((enrollings is not empty) and ({id: student.id} != {id: enrolling.student.id})) %}
                        <a href="{{ path('student_delete', {id: student.id}) }}"><button type=button" class="btn btn-danger">Изтрий</button></a>     
                    {% endif %}
                {% endfor %}
                {% if (enrollings is empty) %}
                    <a href="{{ path('student_delete', {id: student.id}) }}"><button type=button" class="btn btn-danger">Изтрий</button></a>
                {% endif %} 
                <a class="btn btn-default" href="{{ path('all_students') }}">Към всички студенти</a>   
                <hr />
                {% for enrolling in enrollings %}
                    <p>{{ enrolling.id }} {{ enrolling.dateAdded|date("d.m.Y") }}
                        <a href="{{ path('course_view', { id: enrolling.course.id } ) }}"> {{ enrolling.course.title }} </a>
                    </p>         
                    <hr />
                {% endfor %}      
            </div>
        </div>  
    </div>
   
{% endblock %}
